*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
}

header h1{
    font-size:60px;
    margin-bottom:15px;
}

header p{
    font-size:25px;
    color:#cbd5e1;
}

button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:10px;
    background:#3b82f6;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#2563eb;
    transform:scale(1.05);
}

section{
    padding:80px 10%;
}

h2{
    text-align:center;
    margin-bottom:40px;
    font-size:40px;
}

.project{
    background:#1e293b;
    padding:25px;
    margin-bottom:25px;
    border-radius:15px;
    transition:.3s;
}

.project:hover{
    transform:translateY(-8px);
}

footer{
    text-align:center;
    padding:30px;
    background:#020617;
}